* {
  width: auto;
  font: 12px;
}

.app {
  display: grid;
  grid-template-rows: 200px 1fr;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.navigator {
  margin: 20px 0;
  padding: 0 20px;
  border-right: 2px solid #555;
  height: 800px;
}

.li {
  list-style: none;
  margin: 10px;
}

.li a {
  text-decoration: none;
}

.active {
  background-color: #333;
  color: #fff;
}

.article {
  padding: 20px;
}
