.app {
  display: grid;
  grid-template-rows: 50px 300px 1fr;
  height: 1200px;
}

.navigator {
  position: fixed;
  width: 100%;
  grid-row: 1 / span 1;
  align-self: center;
  padding: 10px;
  background-color: #333;
  padding-right: 20px;
  overflow: hidden;
}

.navItem {
  float: left;
  list-style: none;
  margin: 10px;
}

.navItem a {
  color: #fff;
  padding-left: 10px;
  text-decoration: none;
  border-left: 1px solid #fff;
}

.navItem a:hover {
  color: #00f;
}

.navItem .active {
  color: #f00;
}

.header {
  padding: 110px;
  margin-bottom: 20px;
  overflow: hidden;
  align-self: stretch;
  color: #fff;
  letter-spacing: 5px;
  text-align: center;
  align-self: center;
  grid-row: 2 / span 1;
}

.container {
  grid-row: 3 / span 1;
  margin: 10px 0;
}

.content {
  display: grid;
  grid-template-columns: 250px 1fr;
}

.content_list {
  grid-column: 1 / span 1;
  margin-left: 20px;
  padding-top: 20px;
  height: 500px;
  border-right: 2px solid #555;
}

.content_list li {
  margin: 10px 0;
}

.content_list li a {
  color: #000;
  text-decoration: none;
}

.content_list li .active {
  color: #f00;
}

.content_list li a:hover {
  color: #00f;
}

.contents {
  grid-column: 2 / span 1;
  margin: 20px 0 0 30px;
}

.contents h3 {
  margin-top: 0;
}