.app {
  display: grid;
  grid-template-areas: "Nav Nav" "header header" "container container";
  grid-template-rows: 30px 300px 1fr;
  grid-template-columns: 300px 1fr;

}

.navigator {
  grid-area: Nav;
}

.header {
    background-color: #333;
    color: #fff;
    text-align: center;
    grid-area: header;
  }